[type=radio] {
    display: none;
}

#slider {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#s1:checked~#slide4, #s2:checked~#slide5, #s3:checked~#slide1, #s4:checked~#slide2, #s5:checked~#slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5, #s2:checked~#slide1, #s3:checked~#slide2, #s4:checked~#slide3, #s5:checked~#slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#slide1, #s2:checked~#slide2, #s3:checked~#slide3, #s4:checked~#slide4, #s5:checked~#slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2, #s2:checked~#slide3, #s3:checked~#slide4, #s4:checked~#slide5, #s5:checked~#slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3, #s2:checked~#slide4, #s3:checked~#slide5, #s4:checked~#slide1, #s5:checked~#slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}

#slide1 {
    background: #00BCD4
}

#slide2 {
    background: #4CAF50
}

#slide3 {
    background: #CDDC39
}

#slide4 {
    background: #FFC107
}

#slide5 {
    background: #FF5722
}

#slider1 {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider1 label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#s10:checked~#slide40, #s20:checked~#slide50, #s30:checked~#slide10, #s40:checked~#slide20, #s50:checked~#slide30 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

#s10:checked~#slide50, #s20:checked~#slide10, #s30:checked~#slide20, #s40:checked~#slide30, #s50:checked~#slide40 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

#s10:checked~#slide10, #s20:checked~#slide20, #s30:checked~#slide30, #s40:checked~#slide40, #s50:checked~#slide50 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#s10:checked~#slide20, #s20:checked~#slide30, #s30:checked~#slide40, #s40:checked~#slide50, #s50:checked~#slide10 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

#s10:checked~#slide30, #s20:checked~#slide40, #s30:checked~#slide50, #s40:checked~#slide10, #s50:checked~#slide20 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}

#slide10 {
    background: #00BCD4
}

#slide20 {
    background: #4CAF50
}

#slide30 {
    background: #CDDC39
}

#slide40 {
    background: #FFC107
}

#slide50 {
    background: #FF5722
}

#slider2 {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider2 label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#s100:checked~#slide400, #s200:checked~#slide500, #s300:checked~#slide100, #s400:checked~#slide200, #s500:checked~#slide300 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

#s100:checked~#slide500, #s200:checked~#slide100, #s300:checked~#slide200, #s400:checked~#slide300, #s500:checked~#slide400 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

#s100:checked~#slide100, #s200:checked~#slide200, #s300:checked~#slide300, #s400:checked~#slide400, #s500:checked~#slide500 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#s100:checked~#slide200, #s200:checked~#slide300, #s300:checked~#slide400, #s400:checked~#slide500, #s500:checked~#slide100 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

#s100:checked~#slide300, #s200:checked~#slide400, #s300:checked~#slide500, #s400:checked~#slide100, #s500:checked~#slide200 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}

#slide100 {
    background: #00BCD4
}

#slide200 {
    background: #4CAF50
}

#slide300 {
    background: #CDDC39
}

#slide400 {
    background: #FFC107
}

#slide500 {
    background: #FF5722
}