@import url("https://fonts.googleapis.com/css?family=Dosis:600,800");

* {
	box-sizing: border-box;
}

.site-logo {
	display: flex;
	align-items: center;
	transform: translateZ(0);
}

[id="logo"] {
	position: relative;
	flex: 0 0 3.75rem;
	width: 3.75rem;
	z-index: 2;
}

[id="logo"] polygon {
	transform-origin: 50%;
}

[id="logo"] circle {
	transform-origin: 80% 80%;
}

.site-title {
	position: relative;
	overflow: hidden;
	margin-left: -1.5rem;
	z-index: 1;
	transform: translateZ(0);
}

.site-title-text {
	padding: 0.25rem 0.375rem 0.25rem 1.75rem;
	color: #3F3C3C;
	font-size: 2rem;
	font-weight: 800;
}

.site-title-text span {
	margin-left: 0.01562rem;
	color: #00B4FF;
}

